.navbar-inverse .navbar-nav > li > a {
    color: black;
}

input#Male {
    height: 15px;
    width: 15px;
    font-weight: normal;
}

input#Female {

    height: 15px;
    width: 15px;
    font-weight: normal;
}

#form {
    margin: 0 auto;
    background: rgba(200, 200, 240, 0.75);
}

.content select {
    border-radius: 13px;
}

#form {
    margin: 0 auto;
}

.content {
    width: 100%;
    left: 0;
    padding-top: 5%;

}
