language: php
php:
  - 7.1
  - 7.2
  - master

env:
  - DB=mysql

before_script:
  - if [[ "$DB" == "mysql" ]]; then mysql -e "create database IF NOT EXISTS website_db;" -uroot; fi
  - ./App/Tests/sprint_3_create_tables_query.sql

script:
  - vendor/bin/phpunit

before_install:
  - composer update
  - mysql -e 'CREATE DATABASE website_db;'