<phpunit bootstrap="./App/Tests/phpunit.php">
	<php>
        <var name="db_dsn" value="mysql:dbname=website_db;host=localhost"/>
        <var name="db_username" value="root"/>
        <var name="db_password" value=""/>
    </php>

	<testsuites>
	<testsuite name="unit">
		<directory>./App/Tests</directory>
	</testsuite>
	</testsuites>
</phpunit>