body {
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(to right, rgb(131, 164, 212), rgb(182, 251, 255));
}

.form-signin {
  box-shadow: 10px 10px 10px rgba(0 ,0 ,0 ,0.7);
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background:rgba(230, 230, 230, 0.50);

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container{
padding-top: 150px;
}

nav.navbar.navbar-inverse.navbar-fixed-top{
background: rgb(240,240,255);

}

.navbar-inverse{
  border-color:rgb(200,200,200);
}

